@mixin thumb() {
  width: 4px;
  height: 4px;
  cursor: pointer;
  background: #fff;
  border: 10px solid #000;
  border-radius: 10px;
  -webkit-appearance: none;
}

@mixin track() {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  box-shadow: 1px 1px 1px #000, 0 0 1px #0d0d0d;
}

.nes-range {
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  // Chrome
  &::-webkit-slider-thumb {
    @include thumb;
  }
  // Firefox
  &::-moz-range-thumb {
    @include thumb;
  }
  // IE
  &::-ms-thumb {
    @include thumb;
  }

  // Chrome
  &::-webkit-slider-runnable-track {
    @include track;
  }
  // Firefox
  &::-moz-range-track {
    @include track;
  }
  // IE
  &::-ms-track {
    @include track;
  }

  &:focus {
    outline: none;
  }
}