html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

.options {
  max-width: 400px;
  label {
    display: block;
  }
}

body {
  padding: 12px;
  font-size: 14px;
}

#results {
  font-size: 14px;
}