@import 'min.scss';

html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

.options {
  float: left;
  max-width: 400px;
}

.slider {
  margin: 4em;
}

label {
  display: block;
}

body {
  // padding: 12px;
  font-size: 14px;
  word-wrap: break-word;
}

#results {
  font-size: 14px;
}

.crack_container {
  // float: left;
  // left: 50%;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  // transform: translateX(-50%);
  border: 1px solid #efefef;
  // max-width: 300px;
  
}
.crack_header {
  // font-weight: 600;
  padding-bottom: 4px;
}
